body {
  background-color: black;
  font-family: monospace;
  overflow: hidden;
  margin: 0;
}

.title-div {
  display: flex;
  justify-content: center;
}

.title-text {
  color: white;
  text-align: center;
  font-size: 80px;
  padding: 30px;
  border: 8px solid white;
}

.nav-bar {
  position: fixed;
  height: 150px;
  width: 150px;
  margin: 10px;
  position: 0;
  border: 8px solid white;
} 



.utility-box{
  display: flex;
  margin: 50px auto;
  justify-content: center;
  width: 798px;
  height: 798px;
  background-color: aqua;
}




input[type=radio] {
  accent-color: rgb(136, 136, 136);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  margin: 25px;

}

.footer-div {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  margin: 0;
}

a:hover {
  border-bottom: 3px solid white;
}

.footer-text {
  color: white;
  font-size: 25px;
  margin: 0;
}